<div class="card">
  <div class="flex flex-row card-container" style="justify-content: space-between;">
    <a routerLink="./home"><img class="flex align-items-center justify-content-center m-2"
        src="https://cdn.pixabay.com/photo/2014/04/03/00/41/race-car-309123_1280.png" style="width: 90px;" alt=""></a>
    <div class="card flex">
      <ul class="flex flex-row card-container mr-8">
        <li class="flex align-items-center justify-content-center "><p-button routerLink="./home" label="Home"
            styleClass="p-button-link"></p-button></li>
        <li class="flex align-items-center justify-content-center "><p-button routerLink="./car/car-list"
            label="Busca tu Carro" styleClass="p-button-link"></p-button></li>
        <li class="flex align-items-center justify-content-center "><p-button routerLink="./admin"
            label="Admin" styleClass="p-button-link"></p-button></li>
        <li class="flex align-items-center justify-content-center "><p-button routerLink="./auth/sign-up"
            label="Regístrate" styleClass="p-button-link"></p-button></li>
        <li class="flex align-items-center justify-content-center "><p-button routerLink="./auth/login" label="Login"
            styleClass="p-button-link"></p-button></li>
      </ul>
    </div>
  </div>
</div>