<div class="m-6">

    <h1>Lista de carros</h1>
    <hr>

    <div class="grid">
        <div class="col-3" *ngFor="let carroAlquiler of carrosAlquiler">
            <div class="col-5">
                <div class="col-4">
                    <p-card [header]="carroAlquiler.carro.marca + ' ' + carroAlquiler.carro.serie " [subheader]="'Modelo '+carroAlquiler.modelo" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" [src]="carroAlquiler.carro.image" />
                        </ng-template>
                        <div class="flex align-content-center align-items-center ">
                            <i class="pi pi-users"></i>
                            <p class="px-3">{{carroAlquiler.carro.capacidad}} personas</p>
                        </div>
                        <ng-template pTemplate="footer">
                            <p-button label="Reservar" (onClick)="enviarACheckout(carroAlquiler)" icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-card>
                </div>
                
            </div>
        </div>
        
        
    </div>
</div>