<div class="m-6">

    <h1>Lista de carros</h1>
    <hr>

    <div class="grid">
        <div class="col-3">
            <div class="col-5">
                <div class="col-4">
                    <p-card header="Chevrolet Onix" subheader="Sedan" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/nuevo-onix-sedan-turbo-carro-deportivo/colorizer/03-images/colorizer-onix-plus-my23-blanco-3-4-frente.jpg?imwidth=960" />
                        </ng-template>
                        <p>
                            Carro con cilindraje 1300, bastante ahorrador de combustible.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Reservar" icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-card>
                </div>
                
            </div>
        </div>
        <div class="col-3">
            <div class="col-5">
                <div class="col-4">
                    <p-card header="Chevrolet Onix" subheader="Sedan" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/nuevo-onix-sedan-turbo-carro-deportivo/colorizer/03-images/colorizer-onix-plus-my23-blanco-3-4-frente.jpg?imwidth=960" />
                        </ng-template>
                        <p>
                            Carro con cilindraje 1300, bastante ahorrador de combustible.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Reservar" icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-card>
                </div>
                
            </div>
        </div>
        <div class="col-3">
            <div class="col-5">
                <div class="col-4">
                    <p-card header="Chevrolet Onix" subheader="Sedan" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/nuevo-onix-sedan-turbo-carro-deportivo/colorizer/03-images/colorizer-onix-plus-my23-blanco-3-4-frente.jpg?imwidth=960" />
                        </ng-template>
                        <p>
                            Carro con cilindraje 1300, bastante ahorrador de combustible.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Reservar" icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-card>
                </div>
                
            </div>
        </div>
        <div class="col-3">
            <div class="col-5">
                <div class="col-4">
                    <p-card header="Chevrolet Onix" subheader="Sedan" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/nuevo-onix-sedan-turbo-carro-deportivo/colorizer/03-images/colorizer-onix-plus-my23-blanco-3-4-frente.jpg?imwidth=960" />
                        </ng-template>
                        <p>
                            Carro con cilindraje 1300, bastante ahorrador de combustible.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Reservar" icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-card>
                </div>
                
            </div>
        </div>
        <div class="col-3">
            <div class="col-5">
                <div class="col-4">
                    <p-card header="Chevrolet Onix" subheader="Sedan" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/nuevo-onix-sedan-turbo-carro-deportivo/colorizer/03-images/colorizer-onix-plus-my23-blanco-3-4-frente.jpg?imwidth=960" />
                        </ng-template>
                        <p>
                            Carro con cilindraje 1300, bastante ahorrador de combustible.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Reservar" icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-card>
                </div>
                
            </div>
        </div>
        <div class="col-3">
            <div class="col-5">
                <div class="col-4">
                    <p-card header="Chevrolet Onix" subheader="Sedan" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/nuevo-onix-sedan-turbo-carro-deportivo/colorizer/03-images/colorizer-onix-plus-my23-blanco-3-4-frente.jpg?imwidth=960" />
                        </ng-template>
                        <p>
                            Carro con cilindraje 1300, bastante ahorrador de combustible.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Reservar" icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-card>
                </div>
                
            </div>
        </div>
        <div class="col-3">
            <div class="col-5">
                <div class="col-4">
                    <p-card header="Chevrolet Onix" subheader="Sedan" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/nuevo-onix-sedan-turbo-carro-deportivo/colorizer/03-images/colorizer-onix-plus-my23-blanco-3-4-frente.jpg?imwidth=960" />
                        </ng-template>
                        <p>
                            Carro con cilindraje 1300, bastante ahorrador de combustible.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Reservar" icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-card>
                </div>
                
            </div>
        </div>
        <div class="col-3">
            <div class="col-5">
                <div class="col-4">
                    <p-card header="Chevrolet Onix" subheader="Sedan" [style]="{ width: '360px' }">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="https://www.chevrolet.com.co/content/dam/chevrolet/south-america/colombia/espanol/index/cars/nuevo-onix-sedan-turbo-carro-deportivo/colorizer/03-images/colorizer-onix-plus-my23-blanco-3-4-frente.jpg?imwidth=960" />
                        </ng-template>
                        <p>
                            Carro con cilindraje 1300, bastante ahorrador de combustible.
                        </p>
                        <ng-template pTemplate="footer">
                            <p-button label="Reservar" icon="pi pi-check"></p-button>
                        </ng-template>
                    </p-card>
                </div>
                
            </div>
        </div>
        
    </div>
</div>